/build/
/lib/
*.txt
/Data/
Examples/Monocular/semanticDB
Examples/Monocular/semanticDB
Examples/Monocular/semanticDB
/Vocabulary/
FrontWithMotionModel.jpg
FrontWithRefKF.jpg
FrontWithReInitiation.jpg
